/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  margin-bottom: 1em;
  margin-top: 1em;
  /*background: linear-gradient(gray, white);*/
  height: 100px;
  /*padding: 1em, 0;*/
  border-bottom: 2px solid gray;
  border-radius: 50px;
}
a {
  text-decoration: none;
  color: black;
}

body {
  font-family: Helvetica, Verdana, sans-serif;
}

h1 {
  font-size: 50px;
  font-family: Lobster, cursive;
  display: inline;
  padding-left: 2em;
}


nav {
  float: right;
  margin-top: 1.5em;
  font-family: Verdana, sans-serif;
  padding-right: 3em;
}

.nav_link {
  margin-left: 1em;
}

.post_container {
  margin: auto;
  width: 60%;
  padding: 1em;
}

.post_header h2{
  display: inline;
}

.byline {
  font-size: 14px;
  color: lightgray;
  padding-top: .5em;
  float: right;
}
.post_body {
  margin: auto;
  text-align: left;
  font-size: 18px;
  /*padding-bottom: 1em;*/
}
.post_image {
 width: 100%;
 padding-top: 1em;
 padding-bottom: 1em;
}

.index_spacer {
  margin-top: 2em;
}

.comment_container {
  width: 60%;
  margin: auto;
  padding: 1em;
}

label, input {
  display: block;
}

ul {
  list-style: none;
}

.comment_container li {
  padding: .5em;
}

.edit_link {
  font-size: 12px;
  float: right;
  padding-top: .5em;
}

.comment_timestamp {
  font-size: 12px;
  color: lightgray;
}

.comment_list {
  text-align: left;
  padding-top: .5em;
  padding-bottom: .5em;
  border-top: 1px solid gray;
  /*border-bottom: 1px solid gray;*/
}

.comment_form {
  padding: .5em;
}

.comment_form textarea {
  width: 400px;
  height: 60px;
  margin-top: .5em;
  font-size: 16px;
}

/*profile page css*/
.profile_container {
  width: 60%;
  margin: auto;
}

.profile_image{
  float: left;
  margin-right: 2em;
  margin-bottom: 2em;
}

.profile_info p {
  padding-top: .5em;
  font-size: 12px;
}

.profile_info span {
  font-size: 18px;
  padding-left: 1em;
}

.profile_posts {
  clear: left;
  border-top: 2px solid gray;
  padding-top: 1em;
}
.profile_comments {
  margin-top: 3em;
  margin-bottom: 3em;
  clear: left;
}

/*new/edit post form css*/
.post_form {
  width: 60%;
  margin: auto;
}

.post_form textarea {
  width: 400px;
  height: 60px;
  margin-top: .5em;
  font-size: 16px;
}
